body {
  font-family: Roboto, Helvetica, sans-serif;
  /* Set the font-family for the entire body to Roboto with a generic family of sans-serif */
  /* Hint: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
}

header {
  background-color: #4584b1;
  margin-bottom: 0;
  height: 4rem;
  color: #fff;
  display: flex;
  justify-content: left;
}

#logo {
  font-size: 40px;
  margin-left: 40px;
  padding: 10px 0px;
  color: white;
  /* The logo element has an id of logo */
  /* Give the logo element a left margin of 40px */
}

nav {
  background-color: #103594;
  /* Use rem units to give the nav an appropriate height */
  /* Use flexbox to vertially align the nav child elements in the center */
}

nav ul {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: left;
  gap: 1rem;
  list-style: none;
  padding: 1rem 0 1rem 2.5rem; 
  font-size: 20px;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

.where-togo {
  background-color: #040E27;
  height: 220px;
}

.where-togo > h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  padding: 50px 0 10px 10px;
  font-size: 30px;
}

.search-form {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  padding: 20px;
  height: 25px;
}

.input-field > input {
  height: 50px;
  width: 250px;
  font-size: 18px;
  border-radius: 5px;
}

.nice-select {
  font-size: 18px;
  height: 50px;
  width: 250px;
  border-radius: 5px;
}

.input-field {
  border: 2px;
}

.search-btn {
  padding-left: 2px;
  font-size: 18;
  color: white;
  height: 50px;
  width: 100px;
  background-color: rgb(249, 57, 57);
  margin-left: 20px;
  border-radius: 5px;
  border-width: 0;
}

/* Where to go section includes an <h3> element and a <form>  */
/* Create a block that targets the where-togo class and give it a background color of #040E27 and suitable padding */
/* Hint: https://developer.mozilla.org/en-US/docs/Web/CSS/padding */

/* Create a block that targets the <h3> child of the where-togo class  */
/* Use the font-size and color properties to style the <h3> element */

/* The search form has a class of search-form. We want the input fields to  */
/* display horizontally. The easiest way to make a group of elements horizontal is to use flexbox */
/* Create a block that targets the search-form class and give it a display of flex */

/* Notice that each form input is wrapped in a div */
/* Create a block that targets the input-field class and apply a suitable width and margin */

/* Styling the elements of Forms is difficult. */
/* Hint: https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling */

input {
  /* Style the form input elements using width, height, padding-left and border-radius */
}

.nice-select {
  /* Select elements are not imput elements! Therefore we've given the <select> element it's own class  */
  /* They are notoriously difficult to style with css */
  /* In this case you can use width, height, font-size, color, border and border-radius */
}

.search-btn {
  /* Buttons are probably the most fun to style! The border-radius and cursor properties can quickly make a button look good */
  /* Style the search button using the following properties: */
  /* 
  - background
  - color
  - font-size
  - height
  - width
  - border
  - border-radius
  - cursor
  */
}

.container {
  display: grid;
  grid-template-areas:
    'destination destination destination'
    'destination destination destination';
  /* The destinations are enclosed in an article element that we want to make a grid */
  /* Set the display property to 'grid' and justify the content */
}

.row {
  grid-template-columns: 30%;
  /* The row of the grid has 3 columns which should be the same width and roughly a third of the available space */
  /* Use the grid-template-columns property to set each column to 30% */
  /* You can experiment with different units for the width values */
  /* Hint: https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */
}

.section-title {
  /* The <div> with class section-title contains an <h3> child which we want to center */
  /* The easiest way to center child elements is to set the display property to 'flex' and justify the content */
}

.single-destination {
  grid-area: destination;
  /* Use the margin property to make some space between the destinations */
  /* Set the overflow to 'hidden' */
  /* The overflow CSS shorthand property sets the desired behaviour for an element's overflow 
    — i.e. when an element's content is too big to fit. In this case, the image is too big too fit. */
}

img {
  /* Set the max-width property to 100% */
}

/* Let's take the training wheels off. Finish off the page by adding styles to the remaining blocks */

.testimonial-area {
  /* Write your code here */
}

.single-testmonial{
  /* Write your code here */
}

.footer {
  /* Write your code here */
}

.footer-widget p {
  /* Write your code here */
}

.footer-widget a:hover {
   /* Write your code here */
}

.footer-widget ul li {
  /* Write your code here */
}

.footer-widget a {
   /* Write your code here */
}

/* Media Queries */

@media (max-width: 720px) {
    /* Add some responsive code here */
    /* Make the destinations stack on top of each other */
    /* Make the form input stack on top of each other */
}